:root {
  --primary: hsl(355, 80%, 48%);
  --light-beige: #f8f7f5;
  --dark-beige: #EDEAE6;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 15px;
}

form {
  min-width: 50%;
  height: 100vh;
  margin: 0vw;
  padding: 5vw ;
  position: relative; 
}

label {
  display: block;
  font-size: 16px;
  min-width: 100px;
  margin: 5px 0;
}

.btn {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  transition: opacity 180ms ease-out, transform 180ms ease-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  transform: translate(1px, 1px);
}
.btn-primary {
  background-color: var(--primary);
}

.validation-message {
  display: block;
  padding-top: 15px;
  color: var(--primary);
  font-size: 16px;
}

select, .textfield {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--dark-beige);
  border-radius: 3px;
  border: 1px solid var(--light-beige);
  font-size: 16px;
  transition: opacity 200ms ease-out;
  margin: 5px 0 15px 0;
}

.form-footer {
  display: flex;
  align-items: center;
}
